<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Anuglar To-Do list</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body ng-app="myModule" ng-controller="myController">
        <div id="wrapper">
            <div class="container">
                <div class="list-box">
<!--                    <input type="text" placeholder="Filter">-->
                    
                    <h2>To-Do List</h2>

                    <input type="text" placeholder="Task to add" ng-model="task">
                    <br>
                    <button type="button" ng-click="addTask(task)">Add Task</button>

                    <div>
                        <ul>
<!--                             | filter: row.task | orderBy: 'task'-->
                            <li ng-repeat="row in toDoList"> <span ng-click="removeItem($index)">&#9587;</span>{{ row.task }} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>    
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="script.js"></script>    
    </body>

</html>