<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Anuglar To-Do list</title>
    </head>
    <body ng-app="myModule" ng-controller="myController">
        <h2>To-Do List</h2>
        
        <input type="text" placeholder="Task to add" ng-model="task">
        <button type="button" ng-click="addTask(task)">Add Task</button>
    
    

        
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="script.js"></script>    
    </body>

</html>